.navbar{
  background:#172b4d;

}
.trello-logo{
  background-image: url('../../Downloads/trello-logo.png');
    background-repeat: no-repeat;
    background-size: 80px 30px;
    display: inline-block;
    height: 30px;
    width: 80px;
    
}
.boards{
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.board-name{
  color:white;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background:#49AFF3;
  display: flex;
  justify-content: space-around;
  border-radius: 5%;
  padding: 30px;
  cursor: pointer;
  
}
.list{
  background:yellow;

}
.card{
  background:pink;
}